 <!-- stuff for availabilty selector-->
    <link href="stylesheets/avail_sel.css" rel="stylesheet">
    <script src="/javascripts/vendor/jquery-3.1.1.min.js"></script><!-- load jquery -->
    <script src="/javascripts/vendor/angular.min.js"></script><!-- load angular -->
    <script src="/javascripts/avail_client.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/avail_sel.js" type="text/javascript"></script>
    <!-- end of stuff for availabilty selector-->
<body ng-app="availability">
    <div ng-controller="mainController">
    
        <div id="day-schedule"></div>
        <!-- calander UI is populated here -->

        <input type="button" value="Submit" id="target" ng-click="submitAvail()">
    </div>
      
</body>

</html>
