<form id='login-form' action='/login' method='post'>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input id='csrf' type="hidden" name="ref_path" value="{{ref_path}}">
  <div class='row'>
    <input id='username-box' class='form-control' type='text' name='username' placeholder='username' required autofocus></input><br>
  </div>
  <div class='row'>
    <input id='password-box' class='form-control' type='password' name='password' placeholder='password' required></input><br>
  </div>
  <div class='row'>
    <input type="submit" id='login-button' class='btn btn-primary' value="Sign In">
    <input type="button" id='signup-button' class='btn btn-info' data-toggle="modal" data-target="#register-modal" value='Sign Up'></input>
  </div>
</form>