<div id='login-container'>
  <div id='login-logo'>
    <center><img src='/images/paxpopuli.png'></img></center>
  </div>
  <div class="login-warning">
    <center>{{message}}</center>
  </div>
  <form id='login-form' action='/login' method='post'>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class='row'>
      <input id='username-box' class='form-control' type='text' name='username' placeholder='username' required autofocus></input><br>
    </div>
    <div class='row'>
      <input id='password-box' class='form-control' type='password' name='password' placeholder='password' required></input><br>
    </div>
    <div class='row'>
      <input type="submit" id='login-button' class='btn btn-primary' value="Sign In">
      <input type="button" id='signup-button' class='btn btn-info' data-toggle="modal" data-target="#register-modal" value='Sign Up'></input>
    </div>
  </form>
</div>