<ul class="nav navbar-nav navbar-right">
  <li id='navbar-dashboard'><a href="/users/{{username}}">Dashboard</a></li>
  {{#isRegularUser role}}
  <li id='navbar-register'><a href="/registrations">Register</a></li>
  {{/isRegularUser}}
  {{#isAdministrator role}}
  <li id='navbar-settings'><a href="/settings">Settings</a></li>
  {{/isAdministrator}}
  <li id='navbar-faq'><a href="/faq">FAQ</a></li>
  <li id='navbar-user' class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="username" name="username">{{fullName}}</span>   <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a name href="/users/{{username}}/profile">Your Profile</a></li>
      <li class="divider"></li>
      <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
      <li><a class="logout-button">Logout</a></li>
    </ul>
  </li>
</ul>
