node_modules/*
npm-debug.log
public/availability.html
public/javascripts/vendor/bower_components
public/vendor
.DS_Store
.gitignore~
*.pyc
scheduler/.coverage
scheduler/htmlcov/*
.env/*
runthepython.sh
.idea/vcs.xml
.idea/pax-populi-scheduler.iml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/dictionaries/jay.xml
package-lock.json
