node_modules/*
npm-debug.log
javascripts/config.js
public/availability.html
public/javascripts/vendor/bower_components
public/vendor
.DS_Store
.gitignore~
*.pyc
scheduler/.coverage
scheduler/htmlcov/*
.env/*