<link href="/stylesheets/availability_selection.css" rel="stylesheet">
<script src="/javascripts/vendor/jquery-3.1.1.min.js"></script><!-- load jquery -->
<script src="/javascripts/vendor/angular.min.js"></script><!-- load angular -->
<script src="/javascripts/availability_client.js" type="text/javascript"></script>
<script src="/javascripts/vendor/availability_selection.js" type="text/javascript"></script>
<h1>Submit Your Availability</h1>
<p>To indicate times when you are free for a tutoring session, click on a rectangle on the schedule. Click twice on a particular rectangle to select a single time,or to select a range, click once on a rectangle at a starting time you are free and drag your cursor within the column to mark a time range in which you are free and click again on the last rectangle in the range to complete marking the range. Any blocks that are purple when you submit will be considered as possible meeting times! </p>
<div ng-app="availability">
    <div ng-controller="mainController">
        <div id="day-schedule"></div>
        <!-- calander UI is populated here -->
        <input type="hidden" id='csrf' name="_csrf" value="{{csrfToken}}">
        <input type="button" value="Submit" id="target" ng-click="submitAvail()">    
    </div>
</div>