<link href="/stylesheets/availability_selection.css" rel="stylesheet">
<script src="/javascripts/vendor/jquery-3.1.1.min.js"></script><!-- load jquery -->
<script src="/javascripts/vendor/angular.min.js"></script><!-- load angular -->
<script src="/javascripts/availability_client.js" type="text/javascript"></script>
<script src="/javascripts/vendor/availability_selection.js.js" type="text/javascript"></script>
<div ng-app="availability">
    <div ng-controller="mainController">
        <div id="day-schedule"></div>
        <!-- calander UI is populated here -->
        <input type="hidden" id='csrf' name="_csrf" value="{{csrfToken}}">
        <input type="button" value="Submit" id="target" ng-click="submitAvail()">    
    </div>
</div>