<script src='/javascripts/faq.js'></script>

<h1>{{title}}</h1>
<div class='content' id='faq-content'>
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<span class='question'>Q: How do I schedule a weekly meeting with a tutor?</span><br>
  	<span class='answer'>A: TBD</span>
</div>