<script src='/javascripts/registrationError.js'></script>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='faq-content'>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <p>Sorry, you can only register for one class at a time. If you need to update your current registration, you can do so by clicking "update registration" on your dashboard. If you need to delete your registration all together and start over, you can delete your registration on the "update registration" page.</p>
</div>
</div>