.tile-container {
	border-color: #eff0f2;
  	border-style: solid;
  	border-width: medium;
  	border-radius: 5px;
  	background: #eff0f2;
  	padding: 15px;
  	cursor: pointer;
  	margin: 10px;
}

.tile-container:hover {
	background: #E5E7E9;
	border-color: #E5E7E9;
}

.tile-header {
	padding-left: 10px;
	padding-bottom: 15px;
}

.edit-button {
	width: 60px;
}
