@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px Lato;
}

a {
  color: #00B7FF;
}

label {
  display:inline-block;
  *display: inline; 
  text-align: left;
}​

input {
	display:inline-block;
    *display: inline; 
}

.register-form {
	padding-left: 2%;
	padding-right: 2%;
}

.register-modal-dialog {
  width: 42%;
  min-width: 200px;
}

#main-content {
	padding: 2%;
}

.modal-title {
	font-weight: bold;
	font-size: 24px;
	font-family: Lato;
	padding-left: 2%;
}

.content {
	padding: 2%;
}

.instructions {
	text-align: justify;
	text-justify: inter-word;
}

#messages {
  padding: 10px;
}

.success {
  border-color: #27AE60;
  /*background: #ABEBC6;*/
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}

.error {
  border-color: #CD6155;
/*  background: #F5B7B1;*/
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}

.message-modal-dialog {
    width: 35%;
}

.ui-widget {
  font-family: Lato;
  font-size: 14px;
}

.ui-widget-header {
  background: #9d9d9d;
}

.tab-content {
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
}

.btn {
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active, .btn-primary {
  	color: #ffffff;
  	background-color: #27AE60;
  	border-color: #27AE60;
  	background-image: linear-gradient(to bottom,#27AE60 0,#27AE60 100%);;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active, .btn-success {
    color: #ffffff;
    background-color: #27AE60;
    border-color: #27AE60;
    background-image: linear-gradient(to bottom,#27AE60 0,#27AE60 100%);;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active, .btn-danger {
    color: #ffffff;
    background-color: #E74C3C;
    border-color: #E74C3C;
    background-image: linear-gradient(to bottom,#E74C3C 0,#E74C3C 100%);;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active, .btn-warning {
    color: #ffffff;
    background-color: #F5B041;
    border-color: #F5B041;
    background-image: linear-gradient(to bottom,#F5B041 0,#F5B041 100%);;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active, .btn-info {
  	color: #ffffff;
  	background-color: #3498DB;
  	border-color: #3498DB;
  	background-image: linear-gradient(to bottom,#3498DB 0,#3498DB 100%);;
}

.default-button {
  background: #CACFD2;
}

.default-button:hover,
.default-button:focus,
.default-button:active,
.default-button.active {
    color: #ffffff;
    background-color: #616A6B;
    border-color: #616A6B;
    background-image: linear-gradient(to bottom,#616A6B 0,#616A6B 100%);;
}

.default-button.pressed {
    color: #ffffff;
    background-color: #616A6B;
    border-color: #616A6B;
    background-image: linear-gradient(to bottom,#616A6B 0,#616A6B 100%);;
}

.footer {
	padding-bottom: 10%;
}

.glyphicon.glyphicon-chevron-down {
    font-size: 15px;
    cursor: pointer;
}

.title-toggle {
  cursor: pointer;
}

.icon {
  width: 50px;
  padding-right: 10px;
}

.modal-title {
  font-family: Lato;
  padding-left: 20px;
}

.btn {
  margin: 3px;
}

.small-text {
  font-size: 10px;
}

.search-bar {
  width: 35%;
}

.tile-container {
  border-color: #eff0f2;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    background: #eff0f2;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
}

.tile-container:hover {
  background: #E5E7E9;
  border-color: #E5E7E9;
}

.tile-header {
  padding-left: 10px;
  padding-bottom: 15px;
}
