<div class='student tutor'>
<h4><b>Pax Populi English Tutoring Program Agreement.</b></h4>
I am registering to participate in the Pax Populi Tutoring Services (PTS) program. In doing so I agree to the following: 
<ol>
	<li> To support the program purpose which is follows: 
		<ol type='a'>
	   		<li>
	   			To support the advancement of peace through educational and economic development initiatives within a framework of human rights.
	   		</li>  
	   		<li>
	   			To conscientiously participate in this program by preparing for lessons as needed and giving appropriate attention and effort so as to have successful sessions with your tutor
	   		</li>
	   		<li>
	   			To provide constructive feedback on all educational assignments completed with one's tutor, by clicking on the following link: http://bit.ly/tutee_Eval.
	   		</li>
	   		<li>
	   			To seek non-violent solutions to social problems whenever possible, with the exception only to defend oneself or another when under direct violent attack. (For more information see: www.paxpopuli.org/about/.)
	   		</li>
	   	</ol>
	</li>
	<li>
		Limitations: This program is conducted freely and without charge and at no point will any monies be asked for nor accepted in connection with this program, by Applied Ethics, Inc., associated organizations, or program participants. I affirm that I will not attempt to use my participation in this program for anything other than its stated educational purpose.
	</li>
	<li>
		Duration: To participate in the Pax Populi Tutoring program, every participant will be required to register, pledge to participate in the program for the duration of a university semester if done as part of a university program or a minimum of three months for others.
	</li>
	<li>
		Punctuality: Participants must agree to show up for their on-line meetings punctually or at least five minutes in advance.  If a tutor or tutee need to reschedule, they should do so at least two days in advance by informing BOTH their partner as well as their project manager or program coordinator.  If a participant misses two scheduled sessions without having given prior notice to reschedule, they will be on probation. If they miss a third sessions without having rescheduled in advance, they will be removed from the program. To avoid problems, please check on the time differences between your location and that of your partner at: http://www.timeanddate.com/worldclock/converter.html.
	</li>
	<li>
		Post-Session Evaluation: You also agree to complete a brief feedback form following every tutoring session.  This can be found at the following link: http://bit.ly/tutee_Eval
	</li>
	<li>
		Withdrawal:  If a Pax Populi tutee wishes to withdraw from the program, they may do so, by informing their program manager / coordinator and sending an email to info@appliedethics.org. Please give two weeks advance notice prior to ending one's participation.
	</li>
	<li>
		Help: If participants in the Pax Populi Tutoring program experience problems with the program, either in terms of the nature of the content of the exchange or technical difficulties, he or she should inform the Pax Populi Tutoring Services Program Coordinator or by writing to info@appliedethics.org.
	</li>
	<li>
		Cross-Cultural Respect: Tutors and tutees must pledge to be highly sensitive and respectful of their partner and his or her culture and refrain from communications or actions that could be deemed offensive or in any way disrespectful or demeaning of one's partner's culture, religion, political system, or traditions. 
	</li>
</ol>
<div class="checkbox">
  <label><input type="checkbox" id='agreeToTermConditions' value="" required>I agree to participate in accordance with the terms stated herein*</label>
</div>
<div class="form-group">
  <label class="control-label">Signature</label>
  <div>
    <input id='signature-register-box' class='form-control signup-input' type='text' name='signature' placeholder='full name' required></input>
  </div>
  <div class="formErr" id="agreementErrors"></div>
</div>
</div>