<div class='instructions student tutor'>
  <p>
    Pax Populi is the people-to-people peacemaking program of the nonprofit organization Applied Ethics, Inc.  Pax Populi’s mission is to put the tools of peacemaking into the hands of ordinary people through initiatives to advance peace through education and economic development within a framework of human rights. By participating you agree to abide by the principles of peace and cross-cultural understanding that guide our program .
    We welcome your participation, but before please be sure that you have the time and dedication needed to participate.
  </p>
  <p>
    We are very thankful for your support, and hope that you and your tutor forge a lasting positive and strong relationship.
  </p>
  <p>
    Please note: although the information you supply will be kept confidential, relevant information such as email address, gender, etc. will be shared with your tutor.
  </p>
</div>